<launch>
  
    <!-- Launch Gazebo  -->
    <include file="$(find probot_gazebo)/launch/probot_anno/probot_anno_gazebo_world.launch" />

    <!-- ros_control arm launch file -->
    <include file="$(find probot_gazebo)/launch/probot_anno/probot_anno_gazebo_states.launch" />   

    <!-- ros_control trajectory control dof arm launch file -->
    <include file="$(find probot_gazebo)/launch/probot_anno/probot_anno_trajectory_controller.launch" />

    <!-- moveit launch file -->
    <include file="$(find probot_anno_moveit_config)/launch/moveit_planning_execution.launch">
        <arg name="gazebo" default="true" />
    </include>

  <!-- tracking node -->
  <node pkg="visp_tracker" type="tracker" name="tracker_mbt">
    <param name="camera_prefix" value="/probot_anno/camera" />
    <param name="tracker_type" value="mbt+klt" />
  </node>

  <!-- starts the client while setting the camera input and the model
       which will be tracked -->
  <node pkg="visp_tracker" type="visp_tracker_client" name="visp_tracker_mbt_client">
    <param name="camera_prefix" value="/probot_anno/camera" />
    <param name="model_name" value="coke_can_box_model" />
    <param name="tracker_type" value="mbt+klt" />
  </node>

</launch>
